input[type=text]{
	width:100%;
}

input[type=submit]{
	margin-top:20px;
}

button {
	margin-top:20px;
}

#tab table tr th {
	text-align:center;
}

#tab table tr td {
	padding:0;
}

#tab table tr>td {
	text-align:center;
}

/*Pour modifier la taille max de l'info Bulle*/
div.tooltip-inner {
    max-width: 1000px;
}