svg{
	margin-top:10px;
	font-size:xx-small;
}

#gantt{
	width:100%;
	overflow:auto;
}

svg rect {
	fill:#F4E7E7;
	stroke:white;
}

svg .rectAnnee {
	fill:#E20030;
	stroke:white;
}

/*#F4E7E7*/

svg .rectMois {
	fill:#E8CBCB;
	stroke:white;
}
svg line {
	fill:red;
	stroke:#E20030;
	stroke-dasharray: 5, 5;
	stroke-width: 1.5;
}

#annee {
	fill:white;
}

#rectPhase{
	fill:rgba(0,0,255,0.25);
	stroke:none;
}

#rectActions{
	fill:green;
	stroke-width: 1;
	stroke:white;
}

#phase {
	fill:white;
}

#echelle{
	text-align:left;
	margin-top:10px;
}